.row
    .col-xl-6
        sbpro-card
            .card-header Area Chart Example
            .card-body
                sb-charts-area
                
            
    .col-xl-6
        sbpro-card
            .card-header Bar Chart Example
            .card-body
                sb-charts-bar
