sbpro-card
    .card-header Solid Checkboxes &amp; Radio
    .card-body
        h6.small.text-muted.font-weight-500 Custom Solid Checkboxes:
        .sbp-preview.mb-4
            .sbp-preview-content
                .custom-control.custom-checkbox.sb-custom-control-solid
                    input#customSolidCheck1.custom-control-input(type='checkbox')
                    label.custom-control-label(for='customSolidCheck1') Custom Solid Checkbox 1
                .custom-control.custom-checkbox.sb-custom-control-solid
                    input#customSolidCheck2.custom-control-input(type='checkbox')
                    label.custom-control-label(for='customSolidCheck2') Custom Solid Checkbox 2
                .custom-control.custom-checkbox.sb-custom-control-solid
                    input#customSolidCheck3.custom-control-input(type='checkbox', disabled)
                    label.custom-control-label(for='customSolidCheck3') Custom Solid Checkbox (Disabled)

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamples',
                )

            .sbp-preview-text.
                Bootstrap's custom checkbox and radio styling have been modified for the
                SB Admin Pro theme.
        
        h6.small.text-muted.font-weight-500 Custom Solid Radio:
        .sbp-preview.mb-4
            .sbp-preview-content
                .custom-control.custom-radio.sb-custom-control-solid
                    input#customSolidRadio1.custom-control-input(type='radio', name='customSolidRadio')
                    label.custom-control-label(for='customSolidRadio1') Toggle this custom radio
                .custom-control.custom-radio.sb-custom-control-solid
                    input#customSolidRadio2.custom-control-input(type='radio', name='customSolidRadio')
                    label.custom-control-label(for='customSolidRadio2') Or toggle this other custom radio
                .custom-control.custom-radio.sb-custom-control-solid
                    input#customSolidRadio3.custom-control-input(type='radio', name='customSolidRadio', disabled)
                    label.custom-control-label(for='customSolidRadio3') This radio is disabled

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamplesRadio',
                )
