sbpro-card
    .card-header Default Bootstrap Borders
    .card-body
        h6.small.text-muted.font-weight-500 Additive:
        .border.sb-border-lg.rounded.mb-4
            .p-4.border-bottom
                .row
                    .col-6
                        .bg-light.border.p-3.mb-3 .border
                        .bg-light.border-top.p-3.mb-3 .border-top
                        .bg-light.border-right.p-3 .border-right
                    .col-6
                        .bg-light.border-bottom.p-3.mb-3 .border-bottom
                        .bg-light.border-left.p-3 .border-left
            .bg-light.p-4.small
                | The above border utilities will 
                em add
                | 
                | borders to any element.
        h6.small.text-muted.font-weight-500 Subtractive:
        .border.sb-border-lg.rounded
            .p-4.border-bottom
                .row
                    .col-6
                        .bg-light.border.border-0.p-3.mb-3 .border-0
                        .bg-light.border.border-top-0.p-3.mb-3 .border-top-0
                        .bg-light.border.border-right-0.p-3 .border-right-0
                    .col-6
                        .bg-light.border.border-bottom-0.p-3.mb-3 .border-bottom-0
                        .bg-light.border.border-left-0.p-3 .border-left-0
            .bg-light.p-4.small
                | The above border utilities will 
                em subtract
                | 
                | borders from any element that already has them.
