sbpro-card
    .card-header Custom Border Thickness
    .card-body
        .border.sb-border-lg.rounded
            .p-4.border-bottom
                .bg-light.border.p-3.mb-3 .border
                .bg-light.border.sb-border-lg.p-3.mb-3 .border .sb-border-lg
                .bg-light.border-top.sb-border-lg.p-3.mb-3 .border-top .sb-border-lg
                .bg-light.border-right.sb-border-lg.p-3.mb-3 .border-right .sb-border-lg
                .bg-light.border-bottom.sb-border-lg.p-3.mb-3 .border-bottom .sb-border-lg
                .bg-light.border-left.sb-border-lg.p-3 .border-left .sb-border-lg
            .bg-light.p-4.small.
                You can change to a thicker border radius using the <code>.sb-border-lg</code> utility classes, which extends the default Bootstrap functionalilty.
