a.dropdown-item.sb-dropdown-notifications-item(href='javascript:void(0);')
    img.sb-dropdown-notifications-item-img([src]='message.image')
    .sb-dropdown-notifications-item-content
        .sb-dropdown-notifications-item-content-text
            | {{message.text}}
        .sb-dropdown-notifications-item-content-details
            | {{message.details}}
