sbpro-dashboard-head(
    icon='file',
    title='Blank',
    description='A blank page to get you started!'
)
.container-fluid.mt-n10
    sbpro-card
        .card-header Example Card
        .card-body
            | This is a blank page. You can use this page as a boilerplate for new pages!
