sbpro-dashboard-head(
    icon='activity',
    title='Dashboard',
    description='Example dashboard overview and content summary'
)
.container-fluid.mt-n10
    sbpro-dashboard-charts
    sbpro-dashboard-cards
    sbpro-dashboard-tables
