footer.sb-footer.py-4.mt-auto(
    [ngClass]='{"sb-footer-light": !dark, "sb-footer-dark": dark}'
)
    .container-fluid
        .d-flex.align-items-center.justify-content-between.small
            div
                | Copyright &copy; PeakSoft 2020
            div
                a(href='#') Privacy Policy
                |
                | &middot;
                |
                a(href='#') Terms &amp; Conditions
