a.dropdown-item.sb-dropdown-notifications-item(href='javascript:void(0);')
    .sb-dropdown-notifications-item-icon.bg-warning
        i-feather([name]='alert.icon')
    .sb-dropdown-notifications-item-content
        .sb-dropdown-notifications-item-content-details
            | {{alert.date}}
        .sb-dropdown-notifications-item-content-text
            | {{alert.text}}
