sbpro-card
    .card-header Extended Badges
    .card-body
        .sbp-preview
            .sbp-preview-content
                span.badge.badge-red.mr-2 Red
                span.badge.badge-orange.mr-2 Orange
                span.badge.badge-yellow.mr-2 Yellow
                span.badge.badge-green.mr-2 Green
                span.badge.badge-teal.mr-2 Teal
                span.badge.badge-cyan.mr-2 Cyan
                span.badge.badge-blue.mr-2 Blue
                span.badge.badge-indigo.mr-2 Indigo
                span.badge.badge-purple.mr-2 Purple
                span.badge.badge-pink.mr-2 Pink

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamples',
                )

            .sbp-preview-text.
                The above non-contextual badge styles are custom made for the SB Admin Pro theme!
