sbpro-card
    .card-header Default Bootstrap Badges
    .card-body
        .sbp-preview
            .sbp-preview-content
                span.badge.badge-primary.mr-2 Primary
                span.badge.badge-secondary.mr-2 Secondary
                span.badge.badge-success.mr-2 Success
                span.badge.badge-danger.mr-2 Danger
                span.badge.badge-warning.mr-2 Warning
                span.badge.badge-info.mr-2 Info
                span.badge.badge-light.mr-2 Light
                span.badge.badge-dark.mr-2 Dark

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamples',
                )

            .sbp-preview-text.
                By default, Bootstrap includes the above badges. The styling for these default
                badges has been modified to fit the SB Admin Pro theme.